<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Shop</title>
</head>

<body>
	<header class="header">
		<div class="grid-conteiner">
				<a href="#">
					<img src="./img/Group 20.png" alt="">
				</a>
				<div class="grid-list">
					<div class="grid-item"><a href="#">Home</a></div>
					<div class="grid-item"><a href="#">My page</a></div>
					<div class="grid-item"><a href="#">Goods on order</a></div>
				</div>
			<div class="grid-search-box-container">
				<div class="grid-search-box-item"><input class="serach-txt" type="text" name="" placeholder="Type to serach"></div>
				<a href="#" class="search-btn">Search</a>
				<a href="#"><img class="logo-end" src="./img/Group 20.png" alt=""></a>
			</div>
		</nav>
	</div>
	<div class="shop">
		<h2>Shop</h2>
	</div>
	</header>


<div class="content-block">
	<div class="content-block-product">	
		<div class="image-product"><a href="#"><img src="./img/Rectangle 13.png" alt=""></a></div>
		<div class="image-product"><a href="#"><img src="./img/Rectangle 11.png" alt=""></a></div>
		<div class="image-product"><a href="#"><img src="./img/Rectangle 12.png" alt=""></a></div>
	</div>

	<div class="name-product-container">
		<div class="name-product"><h2 class="radish">radish seeds</h2></div>
		<div class="name-product"><h2 class="cabbage">cabbage seeds</h2></div>
		<div class="name-product"><h2 class="onion">onion seeds</h2></div>
	</div>
</div>


<div class="content-block">
	<div class="content-block-info">
		<div class="info-block"><a class="viev" href="#">Viev all products</a></div>
		<div class="info-block"><a class="faq" href="#">FAQ</a></div>
		<div class="info-block"><a class="info-image" href="#">Info<img class=image-info src="" alt=""></a></div>
	</div>
</div>
</body>

</html>